# Ignore data folder for light-weight
data_RAD
data_RAD/
data_PathVQA
dataPathVQA/
saved_models
saved_models/
results
results/
.idea
.idea/
*.pyc
*.swp
mmq_maml/data
mmq_maml/features
mmq_maml/saved_models
mmq_maml/res